.wrapper {
  background: #eee;
  /*background: linear-gradient(#f8fafc,#f4f8fb);*/
}

.signup, .signin {
  max-width: 500px;
}

section.container {
  padding: 2em 0 !important;
}

section.container:after {
  clear: both;
  content: '';
  display: table;
}
