.sq {
  flex: 1 1 auto;
  height: 50px;
  border-radius: 5px;
  margin: 10px;
  background: #fff;
  border: 1px #eee solid;
  box-sizing: border-box !important;
}

.alive {
  border-top: 1px solid #21BA45;
  background: #efe;
}

.alive.birthday {
  border: 1px #21BA45 solid;
}

.birthday {
  border: 1px #ccc dashed;
}

.career {
  background: navy;
}

.school {
  background: lime !important;
}

.general {
  background: #fff;
  border: 1px #21BA45 solid;
}

.personal {
  background: pink;
}

.now {
  background: green;
}

.family {
  background: yellow;
}

.year-grid {
  display: flex;
  flex-wrap: wrap;
}