.sq {
  float: left;
  width: 19px;
  height: 19px;
  margin: 1px;
  background: #fff;
  box-sizing: border-box;
}

.alive {
  background: #efe;
}

.alive.birthday {
  border: 1px lightblue solid;
}

.birthday {
  border: 1px #ccc dashed;
}

.career {
  background: navy;
}

.school {
  background: lime;
}

.general {
  background: #fff;
  border: 1px #ccc solid;
}

.personal {
  background: pink;
}

.now {
  background: green;
}

.family {
  background: yellow;
}
