.box {
  box-sizing: border-box;
  display: inline-block;
  background: #efe;
  width: 19px;
  height: 19px;
  margin: 1px;
  float: left;
}

.general {
  background: #fff;
  border: 1px #ccc solid;
}

.event {
  background: #000;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

.birthday {
  background: green;
}

.school {
  background: lightblue;
}
