.sq {
  flex: 1 1 auto;
  /*width: 50%;*/
  height: 20px;
  border-radius: 5px;
  margin: 5px;
  background: #fff;
  border: 1px #eee solid;
  box-sizing: border-box !important;
}

.sq:after {
  padding-bottom: 100%;
}

.alive {
  /*border-top: 1px solid #21BA45;*/
  background: #efe;
}

.alive.birthday {
  border: 1px #21BA45 solid;
}

/*.alive:last-of-type {
  background: black;
}*/

.five.alive {
  background: #21BA45;
}

.birthday {
  border: 1px #ccc dashed;
}

.career {
  background: navy;
  border: 1px #eee solid !important;
}

.general {
  background: #fff;
  border: 1px #21BA45 solid;
}

.school {
  background: lime !important;
  border: 1px #eee solid;
}

.personal {
  background: pink;
  border: 1px #eee solid !important;
}

.family {
  background: yellow;
  border: 1px #eee solid !important;
} 

.year-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.tooltip {
  width: 100%;
  height: 100%;
}

.age {
  display: none;
  position: absolute;
  left: -25px;
  text-align: right;
  width: 25px;
  color: rgba(0, 0, 0, 0.4);
}

.headroom-wrapper { display: none; }

@media screen and (min-width: 800px) {
  .sq {
    height: 40px;
    margin: 10px;
    border-radius: 20px;
  }

  .age {
    display: block;
  }

  .headroom-wrapper {
    display: block;
  }

  .legend {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    margin: 40px 0px;
    padding: 20px 30px;
  }

  .legend li {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .legend .sq {
    display: inline-block !important;
    min-width: 40px;
  }
}
