body {
  background: #eee;
  min-height: 100vh;
}

.signup, .signin {
  max-width: 500px;
}

section.container {
  padding: 2em 0 !important;
}

section.container:after, .event-grid:after {
  clear: both;
  content: '';
  display: table;
}
